
<div class="container_small-card">
   
    <div class="small-card_photo">
        <img src="{{cardPhoto}}" 
        height="350px"
        alt="">
    </div>
    <div class="small-card_text">

        <div class="small-card_title">
            <span>{{CardDate}}</span>
            <h1> <a [routerLink]="['content', Id]">{{CardTitle}}</a></h1>
        </div>
        
        <div class="small-card_descripition">
            <p>
                <a [routerLink]="[`content`, Id]">
                {{cardDescription}}
                </a>
            </p>
            <span>By {{cardOwner}}</span>
    
        </div>
    </div>
    
    
</div>
