.container_big-card {
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    background-color: white;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
    height: 350px;
    box-sizing: content-box
;
    
}

.big-card_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    padding: 10px;
    padding-top: 15px;
    width: 35%;
    
}

.big-card_descripition {
    text-align: left;
    
}
.big-card_descripition > samp{
    font-size: 15px;
    color: rgba(31, 30, 30, 0.568);
}


.big-card_title > samp {
    padding-left: 1px;
    display: block; 
    font-size: 15px;
    color: rgba(31, 30, 30, 0.568); 
}

.big-card_title > h1{
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 30px;
    font-weight: 750;
    width: 350px;
}



.big-card_photo > img {
    border-radius: 3px;
    object-fit: cover;
    max-height: 390px; 
    max-width: 800px;
    
}

.big-card_text > .big-card_title > h1 > a, .big-card_text > .big-card_descripition > p > a{
    text-decoration: none;
    color: #111;
    transition: color 0.3s;
}

.big-card_text:hover .big-card_title > h1 > a, .big-card_text:hover .big-card_descripition > p > a{
    
    color: rgba(41, 40, 63, 0.61);
    
}
