<div class="container_big-card">
    <div class="big-card_text">
        <div class="big-card_title">
            <span>{{cardDate}}</span>
            <h1> <a [routerLink]="[`content`, Id]">
                {{cardTitle}}
            </a></h1>
        </div>
        
        <div class="big-card_descripition">
            <p>
                <a [routerLink]="[`content`, Id]">
               {{cardDescription}}
                </a>
            </p>
            <br>
            <span>By {{cardOwner}}</span>
    
        </div>
    </div>
    
    <div class="big-card_photo">
        <img src="{{cardPhoto}}" 
        height="350px"
        alt="">
    </div>
</div>
