<div>
    <div class="container_home">
        <div class="home_menu">
            <app-menu-title></app-menu-title>
        </div>
        <div class="articles_main">
            <app-big-card
            Id="1"
            cardDate="março 20/2025"
            cardTitle="Aprendendo mais sobre Angular"
            cardDescription="Recentemente, tive a oportunidade de me aprofundar no estudo do Angular e explorar suas diversas tecnologias. Durante esse processo, aprendi conceitos essenciais e desenvolvi novas habilidades, que agora posso aplicar de forma mais eficiente. Aqui está um pouco do resultado desse aprendizado e das melhorias que consegui alcançar! Além disso, pude experimentar boas práticas de desenvolvimento e entender melhor como criar aplicações mais escaláveis e performáticas. Esse conhecimento tem sido valioso para aprimorar meus projetos e expandir minhas competências na área."
            cardOwner="brunopaz8"
            cardPhoto="https://static.vecteezy.com/ti/vetor-gratis/p1/2099443-programacao-codigo-codificacao-ou-hacker-fundo-programacao-codigo-icone-feito-com-codigo-binario-digital-dados-binarios-e-streaming-codigo-digital-vetor.jpg"
            ></app-big-card>
        </div>
    </div>

    
    <div class="articles_others">
        <br>
        <div class="title">
            <app-card-title></app-card-title> 
        </div>
        <div class="content">
            <app-smal-card
            Id="2"
            cardPhoto="https://ogimg.infoglobo.com.br/in/13664035-144-725/FT1086A/760/lorem-ipsum-logo.jpg"
            CardDate="março 24/2025"
            CardTitle="O que é um Lorem ?"
            cardDescription="Você já viu textos começando com <Lorem ipsum dolor sit amet> e se perguntou o que isso significa? Aqui, você vai descobrir a origem e a utilidade desse texto tão comum no design e na tipografia. "
            cardOwner="anonymous"
            ></app-smal-card>
            <app-smal-card
            Id="3"
            cardPhoto="https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg"
            CardDate="moth day/year"
            CardTitle="title example"
            cardDescription="Example description: This is a placeholder text, meant to give a brief idea of what will be featured in the main article. It's just a temporary marker, and it should be replaced with a concise description of the actual content."
            cardOwner=" Owner"
            ></app-smal-card>
            <app-smal-card
            Id="3"
            cardPhoto="https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg"
            CardDate="moth day/year"
            CardTitle="title example"
            cardDescription="Example description: This is a placeholder text, meant to give a brief idea of what will be featured in the main article. It's just a temporary marker, and it should be replaced with a concise description of the actual content."
            cardOwner=" Owner"
            ></app-smal-card> 
        </div>
        <br>
        <br>

    </div>
    
</div>

