<div>
    <div class="container_home">
        <div class="home_menu">
            <app-menu-bar></app-menu-bar>
            <app-menu-title></app-menu-title>
        </div>
        <div class="articles_main">
            <app-big-card></app-big-card>
        </div>
    </div>

    
    <div class="articles_others">
        <br>
        <div class="title">
            <app-card-title></app-card-title> 
        </div>
        <div class="content">
            <app-smal-card></app-smal-card>
            <app-smal-card></app-smal-card>
            <app-smal-card></app-smal-card> 
        </div>
        <br>
        <br>

    </div>
    
</div>

