<div>
    <div class="container_home">
        <div class="home_menu">
            <app-menu-bar></app-menu-bar>
            <app-menu-title></app-menu-title>
        </div>
        <div class="articles_main">
            <app-big-card></app-big-card>
        </div>
    </div>

    
    <div class="articles_others">
        <app-card-title></app-card-title>
        
        <app-smal-card></app-smal-card>
        <app-smal-card></app-smal-card>
        <app-smal-card></app-smal-card>
    </div>
    
</div>

